.poke-btn {
  display: block;
}
.loading-img {
  display: block;
}

.poke-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 650px;
  margin: auto;
}
